
<h1>DBZ !!</h1>
<div class="ae-container">
    <div class="ae-grid">

        <div class="ae-grid__item item-xs-6">
            <h4>Listado</h4>
            <ul>
                <li>Krillin - 500</li>
                <li>Goku - 10000500</li>
            </ul>
        </div>
        <div class="ae-grid__item item-xs-6">
            <form class="form">
                <div class="form__group">
                    <label for="name" class="form__label">Nombre</label>
                    <input type="text" id="name" name="name" class="form__input" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="form__group">
                    <label for="name" class="form__label">Poder</label>
                    <input type="text" id="name" name="poder" class="form__input" placeholder="Ingresa tu nombre" required>
                </div>

                <button type="submit" class="form__button">Agregar</button>

            </form>
        </div>
    </div>
</div>
